.chess-board {
    display: grid;
    grid:
        "e1 d1 c1 b1 a1" 50px 
        "e2 d2 c2 b2 a2" 50px 
        "e3 d3 c3 b3 a3" 50px 
        "e4 d4 c4 b4 a4" 50px 
        "e5 d5 c5 b5 a5" 50px 
        "e6 d6 c6 b6 a6" 50px 
        "A0 B0 C0 D0 E0" 50px 
        "A6 B6 C6 D6 E6" 50px 
        "A5 B5 C5 D5 E5" 50px 
        "A4 B4 C4 D4 E4" 50px 
        "A3 B3 C3 D3 E3" 50px 
        "A2 B2 C2 D2 E2" 50px 
        "A1 B1 C1 D1 E1" 50px 
        / 150px 150px 150px 150px 150px;
    gap: 10px 20px;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}

.main{
    display: grid;
    grid:
    "container-button" 50px 
        "chess-board" 800px 
        / 800px;
    gap: 10px 20px;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}

.container-button{
    display: grid;
    grid:
        "input-text flag" 65px 
        / 300px 300px ;
    gap: 8px 20px;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.input-text {
    grid-area: input-text;
}

.flag {
    grid-area: flag;
}


textarea {
    width: 10%;
    height: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;
}

body {
    background: rgb(153, 151, 103);
    background: linear-gradient(151deg, rgba(153, 151, 103, 1) 15%, rgba(145, 209, 205, 1) 49%, rgba(214, 183, 212, 1) 87%);
}

a {
    color:rgb(255, 255, 255);
    text-decoration:none;
}

.header,
.footer {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.兵站 {
    background: #2a9fbd;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 15px 15px 15px 15px ;
    text-decoration: none;
}
.行营 {
    background: #51528f;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 15px 15px 15px 15px ;
    text-decoration: none;
}
.大本营 {
    background: #85392f;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 15px 15px 15px 15px ;
    text-decoration: none;
}
.前线 {
    background: #000000;
    width: 80%;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 15px 15px 15px 15px ;
    text-decoration: none;
}
.大山 {
    background: #ffffff;
    width: 80%;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 15px 15px 15px 15px ;
    text-decoration: none;
}

.a6 {
    grid-area: a6;
}

.b6 {
    grid-area: b6;
}

.c6 {
    grid-area: c6;
}

.d6 {
    grid-area: d6;
}

.e6 {
    grid-area: e6;
}

.a5 {
    grid-area: a5;
}

.b5 {
    grid-area: b5;
}

.c5 {
    grid-area: c5;
}

.d5 {
    grid-area: d5;
}

.e5 {
    grid-area: e5;
}

.a4 {
    grid-area: a4;
}

.b4 {
    grid-area: b4;
}

.c4 {
    grid-area: c4;
}

.d4 {
    grid-area: d4;
}

.e4 {
    grid-area: e4;
}

.a3 {
    grid-area: a3;
}

.b3 {
    grid-area: b3;
}

.c3 {
    grid-area: c3;
}

.d3 {
    grid-area: d3;
}

.e3 {
    grid-area: e3;
}

.a2 {
    grid-area: a2;
}

.b2 {
    grid-area: b2;
}

.c2 {
    grid-area: c2;
}

.d2 {
    grid-area: d2;
}

.e2 {
    grid-area: e2;
}

.a1 {
    grid-area: a1;
}

.b1 {
    grid-area: b1;
}

.c1 {
    grid-area: c1;
}

.d1 {
    grid-area: d1;
}

.e1 {
    grid-area: e1;
}

.A0 {
    grid-area: A0;
}

.B0 {
    grid-area: B0;
}

.C0 {
    grid-area: C0;
}

.D0 {
    grid-area: D0;
}

.E0 {
    grid-area: E0;
}

.A1 {
    grid-area: A1;
}

.B1 {
    grid-area: B1;
}

.C1 {
    grid-area: C1;
}

.D1 {
    grid-area: D1;
}

.E1 {
    grid-area: E1;
}

.A2 {
    grid-area: A2;
}

.B2 {
    grid-area: B2;
}

.C2 {
    grid-area: C2;
}

.D2 {
    grid-area: D2;
}

.E2 {
    grid-area: E2;
}

.A3 {
    grid-area: A3;
}

.B3 {
    grid-area: B3;
}

.C3 {
    grid-area: C3;
}

.D3 {
    grid-area: D3;
}

.E3 {
    grid-area: E3;
}

.A4 {
    grid-area: A4;
}

.B4 {
    grid-area: B4;
}

.C4 {
    grid-area: C4;
}

.D4 {
    grid-area: D4;
}

.E4 {
    grid-area: E4;
}

.A5 {
    grid-area: A5;
}

.B5 {
    grid-area: B5;
}

.C5 {
    grid-area: C5;
}

.D5 {
    grid-area: D5;
}

.E5 {
    grid-area: E5;
}

.A6 {
    grid-area: A6;
}

.B6 {
    grid-area: B6;
}

.C6 {
    grid-area: C6;
}

.D6 {
    grid-area: D6;
}

.E6 {
    grid-area: E6;
}
