.container {
    display: grid;
    /* justify-items: center;
    align-items: center; */
    /* justify-content: center;
    align-content: center; */
    
  /* width: 1920px;
  height: 1080px; */

    display: grid;
    grid:
        "a6 b6 c6 d6 e6" 65px 
        "a5 b5 c5 d5 e5" 65px 
        "a4 b4 c4 d4 e4" 65px 
        "a3 b3 c3 d3 e3" 65px 
        "a2 b2 c2 d2 e2" 65px 
        "a1 b1 c1 d1 e1" 65px 
        "A0 B0 C0 D0 E0" 65px 
        "A1 B1 C1 D1 E1" 65px 
        "A2 B2 C2 D2 E2" 65px 
        "A3 B3 C3 D3 E3" 65px 
        "A4 B4 C4 D4 E4" 65px 
        "A5 B5 C5 D5 E5" 65px 
        "A6 B6 C6 D6 E6" 65px 
        / 150px 150px 150px 150px 150px;
    gap: 8px 20px;

}


.a6 {
    grid-area: a6;
    background: #2B856A;
    background-image: -webkit-linear-gradient(top, #D7237D, #957510);
    background-image: -moz-linear-gradient(top, #0CA2FF, #8d2c36);
    background-image: -ms-linear-gradient(top, #64EDF5, #3F3CCC);
    background-image: -o-linear-gradient(top, #C94D17, #B430A0);
    background-image: linear-gradient(to bottom, #C98C04, #080178);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.b6 {
    grid-area: b6;
    background: #7C3C4A;
    background-image: -webkit-linear-gradient(top, #EABF6E, #AD56E5);
    background-image: -moz-linear-gradient(top, #F86BB8, #9D41F0);
    background-image: -ms-linear-gradient(top, #7F8025, #C499B2);
    background-image: -o-linear-gradient(top, #6A51F8, #8A2F1D);
    background-image: linear-gradient(to bottom, #0E5315, #863BBE);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.c6 {
    grid-area: c6;
    background: #49474F;
    background-image: -webkit-linear-gradient(top, #3C1146, #E931C0);
    background-image: -moz-linear-gradient(top, #342813, #D8458A);
    background-image: -ms-linear-gradient(top, #0A84CC, #383FF4);
    background-image: -o-linear-gradient(top, #C3D936, #6E6686);
    background-image: linear-gradient(to bottom, #256F45, #A43647);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.d6 {
    grid-area: d6;
    background: #CACA2F;
    background-image: -webkit-linear-gradient(top, #6F1406, #E55F69);
    background-image: -moz-linear-gradient(top, #7432A2, #5CF571);
    background-image: -ms-linear-gradient(top, #8DD77C, #6A6634);
    background-image: -o-linear-gradient(top, #13F4A3, #51D5CF);
    background-image: linear-gradient(to bottom, #7DA989, #AF9A68);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.e6 {
    grid-area: e6;
    background: #8A9F98;
    background-image: -webkit-linear-gradient(top, #178953, #1DBEB0);
    background-image: -moz-linear-gradient(top, #FBA4A6, #B3864B);
    background-image: -ms-linear-gradient(top, #2D0E7E, #7777E1);
    background-image: -o-linear-gradient(top, #8BD0BE, #ADD0EF);
    background-image: linear-gradient(to bottom, #8681E6, #B1A41F);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.a5 {
    grid-area: a5;
    background: #1538E3;
    background-image: -webkit-linear-gradient(top, #8991CB, #360F60);
    background-image: -moz-linear-gradient(top, #3F9A94, #365921);
    background-image: -ms-linear-gradient(top, #13AD17, #7E81C5);
    background-image: -o-linear-gradient(top, #1B7B82, #E25A24);
    background-image: linear-gradient(to bottom, #C1264F, #7092A4);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.b5 {
    grid-area: b5;
    background: #3BB543;
    background-image: -webkit-linear-gradient(top, #A3CE7E, #DC3AB4);
    background-image: -moz-linear-gradient(top, #DDAB95, #6AEA8A);
    background-image: -ms-linear-gradient(top, #E525C5, #151083);
    background-image: -o-linear-gradient(top, #9A752C, #6D4C0A);
    background-image: linear-gradient(to bottom, #A93AAC, #30925D);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.c5 {
    grid-area: c5;
    background: #A2BDCF;
    background-image: -webkit-linear-gradient(top, #2A35CF, #E797D2);
    background-image: -moz-linear-gradient(top, #F0EB47, #EFB564);
    background-image: -ms-linear-gradient(top, #D13A70, #839ECF);
    background-image: -o-linear-gradient(top, #BF5816, #EE6A5E);
    background-image: linear-gradient(to bottom, #C83B39, #345E5A);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.d5 {
    grid-area: d5;
    background: #E6EB4B;
    background-image: -webkit-linear-gradient(top, #2F2934, #324092);
    background-image: -moz-linear-gradient(top, #B1F01C, #DA6D01);
    background-image: -ms-linear-gradient(top, #1ED6BD, #8B43B9);
    background-image: -o-linear-gradient(top, #1A13B3, #09C4A1);
    background-image: linear-gradient(to bottom, #325C37, #F3BCD1);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.e5 {
    grid-area: e5;
    background: #859266;
    background-image: -webkit-linear-gradient(top, #853CA7, #AD9CBF);
    background-image: -moz-linear-gradient(top, #A64149, #A8567D);
    background-image: -ms-linear-gradient(top, #971182, #9CF809);
    background-image: -o-linear-gradient(top, #CF66CB, #F599B0);
    background-image: linear-gradient(to bottom, #E5A13E, #FFE457);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.a4 {
    grid-area: a4;
    background: #D2C505;
    background-image: -webkit-linear-gradient(top, #DB0A5C, #75312F);
    background-image: -moz-linear-gradient(top, #4A5E16, #43617A);
    background-image: -ms-linear-gradient(top, #3F50BD, #24CC5B);
    background-image: -o-linear-gradient(top, #F5BD2D, #4675E3);
    background-image: linear-gradient(to bottom, #4AB07A, #BC51D2);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.b4 {
    grid-area: b4;
    background: #31ECA3;
    background-image: -webkit-linear-gradient(top, #E2FD64, #330A83);
    background-image: -moz-linear-gradient(top, #5BB8A6, #8DC417);
    background-image: -ms-linear-gradient(top, #78B46D, #D59BC6);
    background-image: -o-linear-gradient(top, #E92B9E, #82B824);
    background-image: linear-gradient(to bottom, #F2DE44, #0F767A);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.c4 {
    grid-area: c4;
    background: #7B38F0;
    background-image: -webkit-linear-gradient(top, #80BD9C, #2652B1);
    background-image: -moz-linear-gradient(top, #94DEDF, #BFE878);
    background-image: -ms-linear-gradient(top, #2B0161, #2A919B);
    background-image: -o-linear-gradient(top, #197EA4, #7602E6);
    background-image: linear-gradient(to bottom, #7ED399, #44E166);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.d4 {
    grid-area: d4;
    background: #EFFE59;
    background-image: -webkit-linear-gradient(top, #82EC98, #47937C);
    background-image: -moz-linear-gradient(top, #525AED, #DC980E);
    background-image: -ms-linear-gradient(top, #8BB995, #3BCF54);
    background-image: -o-linear-gradient(top, #F9971E, #967610);
    background-image: linear-gradient(to bottom, #09FB1C, #CFF1DC);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.e4 {
    grid-area: e4;
    background: #93580F;
    background-image: -webkit-linear-gradient(top, #651CDF, #2EF575);
    background-image: -moz-linear-gradient(top, #CC5B76, #EC6769);
    background-image: -ms-linear-gradient(top, #82FD3F, #F90E63);
    background-image: -o-linear-gradient(top, #C98F4A, #DA4D06);
    background-image: linear-gradient(to bottom, #DC060F, #DD9E34);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.a3 {
    grid-area: a3;
    background: #B28E41;
    background-image: -webkit-linear-gradient(top, #4B7490, #13AAC7);
    background-image: -moz-linear-gradient(top, #C7D702, #7E923D);
    background-image: -ms-linear-gradient(top, #2D5CC5, #45E497);
    background-image: -o-linear-gradient(top, #C84E22, #6E8300);
    background-image: linear-gradient(to bottom, #8937C4, #7E86A5);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.b3 {
    grid-area: b3;
    background: #4DF331;
    background-image: -webkit-linear-gradient(top, #360456, #AB8081);
    background-image: -moz-linear-gradient(top, #0674B0, #2D92C4);
    background-image: -ms-linear-gradient(top, #2E4063, #0E386D);
    background-image: -o-linear-gradient(top, #ABAA0B, #0E2889);
    background-image: linear-gradient(to bottom, #D77522, #386ECC);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.c3 {
    grid-area: c3;
    background: #9543DC;
    background-image: -webkit-linear-gradient(top, #2F05D5, #32C495);
    background-image: -moz-linear-gradient(top, #475138, #5C2AAE);
    background-image: -ms-linear-gradient(top, #578E04, #90B588);
    background-image: -o-linear-gradient(top, #CECAE2, #74296A);
    background-image: linear-gradient(to bottom, #2C057F, #912052);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.d3 {
    grid-area: d3;
    background: #6DAABA;
    background-image: -webkit-linear-gradient(top, #946B3F, #F9FCAC);
    background-image: -moz-linear-gradient(top, #D0E613, #4BD004);
    background-image: -ms-linear-gradient(top, #25AD3C, #5C588F);
    background-image: -o-linear-gradient(top, #DDA4B2, #0C9554);
    background-image: linear-gradient(to bottom, #C87E50, #78D15D);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.e3 {
    grid-area: e3;
    background: #A4381E;
    background-image: -webkit-linear-gradient(top, #14CE88, #EF6B1A);
    background-image: -moz-linear-gradient(top, #60E298, #B19E7F);
    background-image: -ms-linear-gradient(top, #5A6AB9, #879B81);
    background-image: -o-linear-gradient(top, #EE6408, #33A19D);
    background-image: linear-gradient(to bottom, #1CBC9F, #EF5949);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.a2 {
    grid-area: a2;
    background: #CDAC1E;
    background-image: -webkit-linear-gradient(top, #7D5125, #82391F);
    background-image: -moz-linear-gradient(top, #457F4F, #EB8B07);
    background-image: -ms-linear-gradient(top, #E25D7D, #86366F);
    background-image: -o-linear-gradient(top, #37F0AF, #534629);
    background-image: linear-gradient(to bottom, #EF5C00, #3F3540);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.b2 {
    grid-area: b2;
    background: #605462;
    background-image: -webkit-linear-gradient(top, #298D7F, #7D5534);
    background-image: -moz-linear-gradient(top, #8C7417, #258B57);
    background-image: -ms-linear-gradient(top, #FD0A92, #15DFC3);
    background-image: -o-linear-gradient(top, #BE9937, #02451C);
    background-image: linear-gradient(to bottom, #835AC7, #CCF376);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.c2 {
    grid-area: c2;
    background: #D75395;
    background-image: -webkit-linear-gradient(top, #B98E5A, #FB791B);
    background-image: -moz-linear-gradient(top, #7346A1, #6C7B91);
    background-image: -ms-linear-gradient(top, #C9FEDE, #4A8E5F);
    background-image: -o-linear-gradient(top, #432014, #5E2981);
    background-image: linear-gradient(to bottom, #31C28F, #4B8F64);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.d2 {
    grid-area: d2;
    background: #293702;
    background-image: -webkit-linear-gradient(top, #DECBCD, #068BE9);
    background-image: -moz-linear-gradient(top, #0C52AD, #E9C1D5);
    background-image: -ms-linear-gradient(top, #CCC133, #FC8AD7);
    background-image: -o-linear-gradient(top, #FFD6CF, #440CA0);
    background-image: linear-gradient(to bottom, #9ACD30, #D657A7);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.e2 {
    grid-area: e2;
    background: #9D817B;
    background-image: -webkit-linear-gradient(top, #3DBF24, #C4285F);
    background-image: -moz-linear-gradient(top, #9C8AE3, #624A75);
    background-image: -ms-linear-gradient(top, #37282F, #6234DE);
    background-image: -o-linear-gradient(top, #7AF6B6, #3C0443);
    background-image: linear-gradient(to bottom, #98F561, #063110);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.a1 {
    grid-area: a1;
    background: #8CCAF2;
    background-image: -webkit-linear-gradient(top, #1B1909, #061B23);
    background-image: -moz-linear-gradient(top, #7DE493, #D4554E);
    background-image: -ms-linear-gradient(top, #99E1F9, #3C7407);
    background-image: -o-linear-gradient(top, #93B382, #2D61A7);
    background-image: linear-gradient(to bottom, #D2F514, #51535A);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.b1 {
    grid-area: b1;
    background: #594683;
    background-image: -webkit-linear-gradient(top, #CF839A, #EA5A2C);
    background-image: -moz-linear-gradient(top, #6A1D7E, #FB753A);
    background-image: -ms-linear-gradient(top, #F1325C, #CBDF5C);
    background-image: -o-linear-gradient(top, #6F06A7, #CEE429);
    background-image: linear-gradient(to bottom, #9B318B, #734E74);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.c1 {
    grid-area: c1;
    background: #ED8597;
    background-image: -webkit-linear-gradient(top, #E8CA4D, #7FF083);
    background-image: -moz-linear-gradient(top, #3193C3, #AFCFA5);
    background-image: -ms-linear-gradient(top, #CCED85, #AA8D75);
    background-image: -o-linear-gradient(top, #02D26A, #66BDA9);
    background-image: linear-gradient(to bottom, #D7409E, #49FADF);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.d1 {
    grid-area: d1;
    background: #B3255B;
    background-image: -webkit-linear-gradient(top, #D77CF3, #4EBBF1);
    background-image: -moz-linear-gradient(top, #9952C9, #F07E76);
    background-image: -ms-linear-gradient(top, #502B78, #2D5393);
    background-image: -o-linear-gradient(top, #84DBB1, #FFDAB0);
    background-image: linear-gradient(to bottom, #1428CF, #D7B0B3);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.e1 {
    grid-area: e1;
    background: #372281;
    background-image: -webkit-linear-gradient(top, #7AD91C, #948385);
    background-image: -moz-linear-gradient(top, #630C6E, #39C523);
    background-image: -ms-linear-gradient(top, #47B3AC, #4455FE);
    background-image: -o-linear-gradient(top, #B8E760, #A85E6D);
    background-image: linear-gradient(to bottom, #C74305, #61F119);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.A0 {
    grid-area: A0;
    background: #328300;
    background-image: -webkit-linear-gradient(top, #22636C, #7DE090);
    background-image: -moz-linear-gradient(top, #356B6A, #7F722E);
    background-image: -ms-linear-gradient(top, #F9378C, #3FFCAE);
    background-image: -o-linear-gradient(top, #D8B9FF, #C8A70A);
    background-image: linear-gradient(to bottom, #C822A9, #168A0C);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.B0 {
    grid-area: B0;
    background: #95A624;
    background-image: -webkit-linear-gradient(top, #C15B6B, #748D01);
    background-image: -moz-linear-gradient(top, #5E1A60, #9442ED);
    background-image: -ms-linear-gradient(top, #1FB3E6, #6ABD4C);
    background-image: -o-linear-gradient(top, #E4FC0D, #E6EEEF);
    background-image: linear-gradient(to bottom, #8405DE, #87F374);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.C0 {
    grid-area: C0;
    background: #D15C46;
    background-image: -webkit-linear-gradient(top, #86FCCB, #C640A6);
    background-image: -moz-linear-gradient(top, #D55464, #56FB42);
    background-image: -ms-linear-gradient(top, #B77A9E, #E463DB);
    background-image: -o-linear-gradient(top, #A452A6, #068489);
    background-image: linear-gradient(to bottom, #6382F4, #9BB065);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.D0 {
    grid-area: D0;
    background: #C1E9BC;
    background-image: -webkit-linear-gradient(top, #73F652, #B26A79);
    background-image: -moz-linear-gradient(top, #5AED61, #881731);
    background-image: -ms-linear-gradient(top, #EBACB0, #951DA3);
    background-image: -o-linear-gradient(top, #04FFD3, #84A18D);
    background-image: linear-gradient(to bottom, #4657D6, #6D2C55);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.E0 {
    grid-area: E0;
    background: #644454;
    background-image: -webkit-linear-gradient(top, #7EA018, #F8B61D);
    background-image: -moz-linear-gradient(top, #245707, #44A811);
    background-image: -ms-linear-gradient(top, #BFD78A, #FC3212);
    background-image: -o-linear-gradient(top, #426BDE, #A32925);
    background-image: linear-gradient(to bottom, #5395A8, #4E2B86);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.A1 {
    grid-area: A1;
    background: #657857;
    background-image: -webkit-linear-gradient(top, #2201EE, #27EFF9);
    background-image: -moz-linear-gradient(top, #DF6083, #F1AC6A);
    background-image: -ms-linear-gradient(top, #A709C0, #943C03);
    background-image: -o-linear-gradient(top, #ECDA82, #A115C1);
    background-image: linear-gradient(to bottom, #B1869A, #823D70);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.B1 {
    grid-area: B1;
    background: #EF0F58;
    background-image: -webkit-linear-gradient(top, #629450, #A0EB89);
    background-image: -moz-linear-gradient(top, #D40625, #D5ECA3);
    background-image: -ms-linear-gradient(top, #BA369B, #D8E717);
    background-image: -o-linear-gradient(top, #CEC9FC, #582521);
    background-image: linear-gradient(to bottom, #258B8F, #1B78E6);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.C1 {
    grid-area: C1;
    background: #1D60D2;
    background-image: -webkit-linear-gradient(top, #2CE2DB, #D21509);
    background-image: -moz-linear-gradient(top, #D4A3B7, #4D4A5F);
    background-image: -ms-linear-gradient(top, #2BBF0B, #DD3BFC);
    background-image: -o-linear-gradient(top, #D622C0, #1FE101);
    background-image: linear-gradient(to bottom, #DA3536, #53C8D7);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.D1 {
    grid-area: D1;
    background: #DBC3DA;
    background-image: -webkit-linear-gradient(top, #258EF6, #FF7557);
    background-image: -moz-linear-gradient(top, #9C2A1C, #978760);
    background-image: -ms-linear-gradient(top, #DBE062, #A0A32E);
    background-image: -o-linear-gradient(top, #25327A, #0D88A6);
    background-image: linear-gradient(to bottom, #1CCF79, #71C4AB);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.E1 {
    grid-area: E1;
    background: #EACE61;
    background-image: -webkit-linear-gradient(top, #CD70A5, #23146C);
    background-image: -moz-linear-gradient(top, #BE8EB2, #0B3BF3);
    background-image: -ms-linear-gradient(top, #3364B1, #A43158);
    background-image: -o-linear-gradient(top, #68B51B, #B21AC2);
    background-image: linear-gradient(to bottom, #5C8637, #A4DB51);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.A2 {
    grid-area: A2;
    background: #EC9E08;
    background-image: -webkit-linear-gradient(top, #E8F52B, #6108CC);
    background-image: -moz-linear-gradient(top, #0D2AA1, #BF60BC);
    background-image: -ms-linear-gradient(top, #FC0582, #2DE467);
    background-image: -o-linear-gradient(top, #008678, #78A278);
    background-image: linear-gradient(to bottom, #8DDBC8, #4A4226);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.B2 {
    grid-area: B2;
    background: #CE73B7;
    background-image: -webkit-linear-gradient(top, #D047E3, #2985AB);
    background-image: -moz-linear-gradient(top, #2093BB, #09F161);
    background-image: -ms-linear-gradient(top, #A100CB, #BC75F7);
    background-image: -o-linear-gradient(top, #B784BD, #6C3F94);
    background-image: linear-gradient(to bottom, #01AF45, #20B6EA);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.C2 {
    grid-area: C2;
    background: #152712;
    background-image: -webkit-linear-gradient(top, #7A4068, #C95BCC);
    background-image: -moz-linear-gradient(top, #BD4EE9, #DAB3E8);
    background-image: -ms-linear-gradient(top, #BAB9A7, #94D941);
    background-image: -o-linear-gradient(top, #DB483A, #536E44);
    background-image: linear-gradient(to bottom, #C9FB1F, #46EF11);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.D2 {
    grid-area: D2;
    background: #380175;
    background-image: -webkit-linear-gradient(top, #C8FD34, #7AA144);
    background-image: -moz-linear-gradient(top, #85DFAE, #6C72CE);
    background-image: -ms-linear-gradient(top, #88B0A0, #EDBE42);
    background-image: -o-linear-gradient(top, #A34F81, #E8853C);
    background-image: linear-gradient(to bottom, #472A33, #18D337);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.E2 {
    grid-area: E2;
    background: #9435C0;
    background-image: -webkit-linear-gradient(top, #6A6289, #E92432);
    background-image: -moz-linear-gradient(top, #E09257, #37E397);
    background-image: -ms-linear-gradient(top, #03CD63, #9AE793);
    background-image: -o-linear-gradient(top, #45470C, #B1DAE3);
    background-image: linear-gradient(to bottom, #9077F4, #7F11CB);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.A3 {
    grid-area: A3;
    background: #42F319;
    background-image: -webkit-linear-gradient(top, #3D0C8C, #0D0B73);
    background-image: -moz-linear-gradient(top, #B56C9C, #01B8A7);
    background-image: -ms-linear-gradient(top, #A1ED32, #D0C157);
    background-image: -o-linear-gradient(top, #A8B728, #CCBF47);
    background-image: linear-gradient(to bottom, #33EED0, #5DF086);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.B3 {
    grid-area: B3;
    background: #70CABA;
    background-image: -webkit-linear-gradient(top, #45ABEC, #794C74);
    background-image: -moz-linear-gradient(top, #F5E740, #73C0AC);
    background-image: -ms-linear-gradient(top, #4A7BC4, #A16E7C);
    background-image: -o-linear-gradient(top, #175622, #ED36E1);
    background-image: linear-gradient(to bottom, #C72945, #822195);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.C3 {
    grid-area: C3;
    background: #41CF1D;
    background-image: -webkit-linear-gradient(top, #E5060B, #287AA3);
    background-image: -moz-linear-gradient(top, #D37C63, #A3CBF7);
    background-image: -ms-linear-gradient(top, #B858AA, #E1AF62);
    background-image: -o-linear-gradient(top, #AF1C43, #554BB2);
    background-image: linear-gradient(to bottom, #D6F649, #31BFDC);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.D3 {
    grid-area: D3;
    background: #C0B347;
    background-image: -webkit-linear-gradient(top, #16D202, #A7BC6A);
    background-image: -moz-linear-gradient(top, #2E7C92, #EDC76C);
    background-image: -ms-linear-gradient(top, #9EC532, #A50405);
    background-image: -o-linear-gradient(top, #A4FB0D, #51EEB9);
    background-image: linear-gradient(to bottom, #DDBE29, #D13517);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.E3 {
    grid-area: E3;
    background: #1A228D;
    background-image: -webkit-linear-gradient(top, #B77925, #759BE6);
    background-image: -moz-linear-gradient(top, #4F41E9, #406307);
    background-image: -ms-linear-gradient(top, #068563, #1F2181);
    background-image: -o-linear-gradient(top, #A52932, #083026);
    background-image: linear-gradient(to bottom, #6C2FCD, #1FB699);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.A4 {
    grid-area: A4;
    background: #D98833;
    background-image: -webkit-linear-gradient(top, #343A13, #F629F8);
    background-image: -moz-linear-gradient(top, #51982C, #222B85);
    background-image: -ms-linear-gradient(top, #237024, #3B9090);
    background-image: -o-linear-gradient(top, #6F3C1E, #A6B6EB);
    background-image: linear-gradient(to bottom, #342608, #BCC21D);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.B4 {
    grid-area: B4;
    background: #5FDE4F;
    background-image: -webkit-linear-gradient(top, #0096FD, #6A4D1F);
    background-image: -moz-linear-gradient(top, #131016, #EE4B25);
    background-image: -ms-linear-gradient(top, #77D472, #F1C40C);
    background-image: -o-linear-gradient(top, #33E246, #F25DFF);
    background-image: linear-gradient(to bottom, #356C34, #31697C);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.C4 {
    grid-area: C4;
    background: #93AD1D;
    background-image: -webkit-linear-gradient(top, #7BC3BB, #D04C35);
    background-image: -moz-linear-gradient(top, #A1A4D1, #B36C57);
    background-image: -ms-linear-gradient(top, #462395, #EA02D5);
    background-image: -o-linear-gradient(top, #C343D2, #25D6F0);
    background-image: linear-gradient(to bottom, #A12229, #3C02CF);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.D4 {
    grid-area: D4;
    background: #5E4311;
    background-image: -webkit-linear-gradient(top, #ADFEBE, #B49C62);
    background-image: -moz-linear-gradient(top, #FAAAA4, #1A2BA3);
    background-image: -ms-linear-gradient(top, #59B16E, #3F64A5);
    background-image: -o-linear-gradient(top, #60C32E, #877841);
    background-image: linear-gradient(to bottom, #EB2849, #F95D2B);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.E4 {
    grid-area: E4;
    background: #3E0B1C;
    background-image: -webkit-linear-gradient(top, #9A9778, #613CB5);
    background-image: -moz-linear-gradient(top, #06C5A1, #5FD439);
    background-image: -ms-linear-gradient(top, #885A76, #CF0881);
    background-image: -o-linear-gradient(top, #7B98E7, #D749DB);
    background-image: linear-gradient(to bottom, #C5F00C, #E5E404);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.A5 {
    grid-area: A5;
    background: #132753;
    background-image: -webkit-linear-gradient(top, #4A4D82, #24BC3F);
    background-image: -moz-linear-gradient(top, #6D11BD, #FE084E);
    background-image: -ms-linear-gradient(top, #45126F, #BF8E65);
    background-image: -o-linear-gradient(top, #934402, #708183);
    background-image: linear-gradient(to bottom, #1601ED, #900BE9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.B5 {
    grid-area: B5;
    background: #E713DA;
    background-image: -webkit-linear-gradient(top, #D96454, #67AB2D);
    background-image: -moz-linear-gradient(top, #34AE41, #ABD54B);
    background-image: -ms-linear-gradient(top, #3B53A2, #0DB631);
    background-image: -o-linear-gradient(top, #AA71BD, #FE7ED2);
    background-image: linear-gradient(to bottom, #167770, #DB5BAC);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.C5 {
    grid-area: C5;
    background: #F20819;
    background-image: -webkit-linear-gradient(top, #24907A, #EB27E2);
    background-image: -moz-linear-gradient(top, #0CC65C, #544A8A);
    background-image: -ms-linear-gradient(top, #5D11FF, #222867);
    background-image: -o-linear-gradient(top, #88BB49, #14DA3C);
    background-image: linear-gradient(to bottom, #004C06, #9F5B07);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.D5 {
    grid-area: D5;
    background: #AE3D1C;
    background-image: -webkit-linear-gradient(top, #0AA450, #49E537);
    background-image: -moz-linear-gradient(top, #5BC3E5, #683F37);
    background-image: -ms-linear-gradient(top, #3F535E, #78C263);
    background-image: -o-linear-gradient(top, #9F0014, #553491);
    background-image: linear-gradient(to bottom, #437057, #594F06);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.E5 {
    grid-area: E5;
    background: #AA9992;
    background-image: -webkit-linear-gradient(top, #E6FB44, #94C362);
    background-image: -moz-linear-gradient(top, #E5720D, #7B6964);
    background-image: -ms-linear-gradient(top, #B4AEA8, #CFA65C);
    background-image: -o-linear-gradient(top, #3D6556, #B9C630);
    background-image: linear-gradient(to bottom, #F87B6B, #9C4CBD);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.A6 {
    grid-area: A6;
    background: #432DC5;
    background-image: -webkit-linear-gradient(top, #A4D91E, #DD30CA);
    background-image: -moz-linear-gradient(top, #E2BF38, #0F8473);
    background-image: -ms-linear-gradient(top, #22A580, #03AA77);
    background-image: -o-linear-gradient(top, #94F4EE, #D46B31);
    background-image: linear-gradient(to bottom, #695333, #2DC7A3);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.B6 {
    grid-area: B6;
    background: #5AD7E7;
    background-image: -webkit-linear-gradient(top, #6AFB63, #11A73D);
    background-image: -moz-linear-gradient(top, #6A4E9C, #3B4F05);
    background-image: -ms-linear-gradient(top, #C31AB3, #705DCD);
    background-image: -o-linear-gradient(top, #DB8909, #2FF15B);
    background-image: linear-gradient(to bottom, #A708FA, #18B9FE);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.C6 {
    grid-area: C6;
    background: #F7F545;
    background-image: -webkit-linear-gradient(top, #6C089B, #23F39C);
    background-image: -moz-linear-gradient(top, #50951D, #2D16C5);
    background-image: -ms-linear-gradient(top, #8ED731, #DFFFD4);
    background-image: -o-linear-gradient(top, #A2E8AD, #9E5D6F);
    background-image: linear-gradient(to bottom, #35AC8F, #998122);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.D6 {
    grid-area: D6;
    background: #08C0F9;
    background-image: -webkit-linear-gradient(top, #199415, #19589E);
    background-image: -moz-linear-gradient(top, #BC5B19, #A5C1A4);
    background-image: -ms-linear-gradient(top, #2A28A3, #8D852B);
    background-image: -o-linear-gradient(top, #3E211E, #9A8908);
    background-image: linear-gradient(to bottom, #012868, #E7FAC5);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}

.E6 {
    grid-area: E6;
    background: #D0ABCB;
    background-image: -webkit-linear-gradient(top, #E20BB1, #AC330C);
    background-image: -moz-linear-gradient(top, #A11816, #7FC3D4);
    background-image: -ms-linear-gradient(top, #752861, #7BE158);
    background-image: -o-linear-gradient(top, #9A030F, #B9630D);
    background-image: linear-gradient(to bottom, #633005, #0D83DC);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px ;
    text-decoration: none;
}