body {
    background: rgb(153, 151, 103);
    background: linear-gradient(151deg, rgba(153, 151, 103, 1) 15%, rgba(145, 209, 205, 1) 49%, rgba(214, 183, 212, 1) 87%);
}

a {
    color:rgb(255, 255, 255);
    text-decoration:none;
}

.main {
    display: grid;
    grid:
        "send-button" 150px "chess-board" 600px / 100%;
    gap: 20px 20px;

    width: 100%;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.chess-board {
    grid-area: chess-board;
    display: grid;
    grid:
        "A0 B0 C0 D0 E0" 65px "A6 B6 C6 D6 E6" 65px "A5 B5 C5 D5 E5" 65px "A4 B4 C4 D4 E4" 65px "A3 B3 C3 D3 E3" 65px "A2 B2 C2 D2 E2" 65px "A1 B1 C1 D1 E1" 65px / 150px 150px 150px 150px 150px;
    gap: 20px 20px;

    width: 100%;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;
}

.send-button {
    grid-area: send-button;
    display: grid;
    gap: 10px 10px;
    grid:
        "flag input-text" 50px 
        "red black" 50px / 
        300px 300px ;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}


.header,
.footer {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.input-id {
    grid-area: input-id;
    width: 80%;
    height: 50%;
    display: inline-block;
    vertical-align: top;
}

textarea {
    width: 10%;
    height: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a85151;
    border-radius: 4px;
}

.flag {
    grid-area: flag;
}

.red {
    grid-area: red;
}

.black {
    grid-area: black;
}


.Null {
    grid-area: Null;
}

.兵站 {
    background: #2a9fbd;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 17px 30px 40px 30px;
    text-decoration: none;
}

.行营 {
    background: #51528f;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 17px 30px 40px 30px;
    text-decoration: none;
}

.大本营 {
    background: #85392f;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 17px 30px 40px 30px;
    text-decoration: none;
}

.前线 {
    background: #000000;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 17px 30px 40px 30px;
    text-decoration: none;
}

.大山 {
    background: #ffffff;
    /* background-image: -webkit-linear-gradient(top, #5696af, #a83e3e);
    background-image: -moz-linear-gradient(top, #43b43f, #333a5e);
    background-image: -ms-linear-gradient(top, #1348ac, #74a372);
    background-image: -o-linear-gradient(top, #2ccf63, #52ad66);
    background-image: linear-gradient(to bottom, #38b356, #ffffff); */
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 17px 30px 40px 30px;
    text-decoration: none;
}

.A0 {
    grid-area: A0;
}

.B0 {
    grid-area: B0;
}

.C0 {
    grid-area: C0;
}

.D0 {
    grid-area: D0;
}

.E0 {
    grid-area: E0;
}

.A1 {
    grid-area: A1;
}

.B1 {
    grid-area: B1;
}

.C1 {
    grid-area: C1;
}

.D1 {
    grid-area: D1;
}

.E1 {
    grid-area: E1;
}

.A2 {
    grid-area: A2;
}

.B2 {
    grid-area: B2;
}

.C2 {
    grid-area: C2;
}

.D2 {
    grid-area: D2;
}

.E2 {
    grid-area: E2;
}

.A3 {
    grid-area: A3;
}

.B3 {
    grid-area: B3;
}

.C3 {
    grid-area: C3;
}

.D3 {
    grid-area: D3;
}

.E3 {
    grid-area: E3;
}

.A4 {
    grid-area: A4;
}

.B4 {
    grid-area: B4;
}

.C4 {
    grid-area: C4;
}

.D4 {
    grid-area: D4;
}

.E4 {
    grid-area: E4;
}

.A5 {
    grid-area: A5;
}

.B5 {
    grid-area: B5;
}

.C5 {
    grid-area: C5;
}

.D5 {
    grid-area: D5;
}

.E5 {
    grid-area: E5;
}

.A6 {
    grid-area: A6;
}

.B6 {
    grid-area: B6;
}

.C6 {
    grid-area: C6;
}

.D6 {
    grid-area: D6;
}

.E6 {
    grid-area: E6;
}