body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

a {
    color:rgb(255, 255, 255);
    text-decoration:none;
}

/* 
a:link    { color:pink;  text-decoration:none;}
a:visited { color:blue;  text-decoration:none;}
a:hover   { color:red;   text-decoration:none;}
a:active  { color:black; text-decoration:none;} 
*/

.header, .footer {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.statistics-container, .input-output-container {
    margin-bottom: 20px;
}

.input-container, .output-container {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.box {
    background: #eee;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .input-container, .output-container {
        width: 100%;
        display: block;
    }
}
